<div class="main">
  <div class="main_1">
    <!-- 時間表記 -->
    <h4>検索した時刻は
      <% if @time_4[0].to_i < 10 && @time_4[1].to_i < 10 %>
        <strong><%= "0" + @time_4[0].to_s + ":0" + @time_4[1].to_s %></strong>
      <% elsif @time_4[0].to_i < 10 %>
        <strong><%= "0" + @time_4[0].to_s + ":" + @time_4[1].to_s %></strong>
      <% elsif @time_4[1].to_i < 10 %>
        <strong><%= @time_4[0].to_s + ":0" + @time_4[1].to_s %></strong>
      <% else %>
        <strong><%= @time_4[0] + ":" + @time_4[1] %></strong>
      <% end %>
    </h4>

    <!-- リストの中身によって処理を変更する -->
    <% if @user_destination == "高坂駅・北坂戸駅" %>

    <!-- 授業期間中-平日-高坂・北坂戸-両方ダイヤなし。確認済み。 -->
      <% if @result[0] == '授業-平日-高坂・北坂戸ダイヤ両方なし' %>
        <p>高坂駅・北坂戸駅行きのバスはもうありません。</p>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Hatoyama campus</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Takasaka Station (It takes about 8minutes)</strong>
        </h3>
        <% daiya_list = ["11:01","11:16","11:22","12:52","13:00","13:03","15:25","15:30","15:34","17:15","17:25","19:05","19:10","19:15"].freeze %>
        <% daiya_list.each do |daiya| %>
        <ul class="summary_list">
          <% if daiya == "11:01" %>
            <span>1限後のバス</span>
          <% elsif daiya == "12:52"%>
            <span>2限後のバス</span>
          <% elsif daiya == "15:25"%>
            <span>3限後のバス</span>
          <% elsif daiya == "17:15" %>
            <span>4限後のバス</span>
          <% elsif daiya == "19:05" %>
            <span>5限後のバス</span>
          <% end %>
          <li class="list_border">
            <dl class="summary_route">
              <dt class="left"><%= daiya %></dt>
            </dl>
          </li>
        </ul>
        <% end %>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Hatoyama campus</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Kita_sakado station (It takes about 12minutes)</strong>
        </h3>
        <% daiya_list_2 = ["11:38","12:50","13:06","15:36","15:50","17:14","17:26","19:13","19:43"].freeze %>
        <% daiya_list_2.each do |daiya_2| %>
        <ul class="summary_list">
          <% if daiya_2 == "11:38" %>
            <span>1限後のバス</span>
          <% elsif daiya_2 == "12:50"%>
            <span>2限後のバス</span>
          <% elsif daiya_2 == "15:36"%>
            <span>3限後のバス</span>
          <% elsif daiya_2 == "17:14" %>
            <span>4限後のバス</span>
          <% elsif daiya_2 == "19:13" %>
            <span>5限後のバス</span>
          <% end %>
          <li class="list_border">
            <dl class="summary_route">
              <dt class="left"><%= daiya_2 %></dt>
            </dl>
          </li>
        </ul>
        <% end %>

      <!-- 授業-平日-高坂・北坂戸ダイヤあり -->
      <% elsif @result[0] == '授業-平日-高坂・北坂戸ダイヤあり'%>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Hatoyama campus</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Takasaka Station (It takes about 8minutes)</strong>
        </h3>
        <% @result[1].each_with_index do |daiya,key_1| %>
        <ul class="summary_list">
          <li class="list_border">
            <span ><%= key_1 + 1 %></span>
            <dl class="summary_route">
              <dt class="left"><%= daiya %></dt>
            </dl>
          </li>
        </ul>
        <% end %>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Hatoyama campus</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Kita_sakado Station (It takes about 12minutes)</strong>
        </h3>
        <% if @result[2].include?('20:31') %>
          <h4><span class="warning">Warning:</span>最終バス(20:31)が迫っています</h4>
        <% end %>
        <% @result[2].each_with_index do |daiya_2,key_2| %>
        <ul class="summary_list">
          <li class="list_border">
            <span><%= key_2 + 1 %></span>
           <dl class="summary_route">
             <dt class="left"><%= daiya_2 %></dt>
           </dl>
          </li>
        </ul>
        <% end %>

      <!-- 授業期間中-平日-高坂・北坂戸-北坂戸のみダイヤなし。 -->
      <% elsif @result[0] == '授業期間中-平日-高坂・北坂戸-北坂戸のみダイヤなし' %>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Hatoyama campus</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Takasaka Station (It takes about 8minutes)</strong>
        </h3>
        <% @result[1].each_with_index do |daiya,key_1| %>
        <ul class="summary_list">
          <li class="list_border">
            <span ><%= key_1 + 1 %></span>
            <dl class="summary_route">
              <dt class="left"><%= daiya %></dt>
            </dl>
          </li>
        </ul>
        <% end %>
        <% if @result[1].include?('21:37') %>
          <h4><span>Warning:</span>最終バス(21:37)が迫っています</h4>
        <% end %>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Hatoyama campus</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Kita_sakado station (It takes about 12minutes)</strong>
        </h3>
        <h3>ダイヤがありません、高坂駅行きをご利用ください。</h3>
      <% end %>





      <!-- 授業期間-土曜-高坂・北坂戸駅行き。確認済み -->
      <% if @result[0] == '授業期間-土曜-高坂・北坂戸-ダイヤなし' %>
        <p>高坂駅・北坂戸駅行きのバスはもうありません。</p>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Hatoyama campus</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Takasaka Station (It takes about 8minutes)</strong>
        </h3>
        <% daiya_list = ["11:01","11:16","11:31","13:16","13:31","15:31","15:55","17:40","17:55","19:10","19:40"].freeze %>
        <% daiya_list.each do |daiya| %>
        <ul class="summary_list">
          <% if daiya == "11:01" %>
            <span>1限後のバス</span>
          <% elsif daiya == "13:16"%>
            <span>2限後のバス</span>
          <% elsif daiya == "15:31"%>
            <span>3限後のバス</span>
          <% elsif daiya == "17:40" %>
            <span>4限後のバス</span>
          <% elsif daiya == "19:10" %>
            <span>5限後のバス</span>
          <% end %>
          <li class="list_border">
            <dl class="summary_route">
              <dt class="left"><%= daiya %></dt>
            </dl>
          </li>
        </ul>
        <% end %>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Hatoyama campus</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Kita_sakado station (It takes about 12minutes)</strong>
        </h3>
        <p>高坂駅行きを使う方が時間に適している場合があります。別途、お調べください。</p>

        <% daiya_list_2 = ["11:00","13:06","16:01","17:44","なし"].freeze %>
        <% daiya_list_2.each do |daiya_2| %>
        <ul class="summary_list">
          <% if daiya_2 == "11:00" %>
            <span>1限後のバス</span>
          <% elsif daiya_2 == "13:06"%>
            <span>2限後のバス</span>
          <% elsif daiya_2 == "16:01"%>
            <span>3限後のバス</span>
          <% elsif daiya_2 == "17:44" %>
            <span>4限後のバス</span>
          <% elsif daiya_2 == "なし" %>
            <span>5限後のバス</span>
          <% end %>
          <li class="list_border">
            <dl class="summary_route">
              <dt class="left"><%= daiya_2 %></dt>
            </dl>
          </li>
        </ul>
        <% end %>


      <!-- 授業期間-土曜-高坂・北坂戸-高坂のみダイヤあり -->
      <% elsif @result[0] == '授業期間-土曜-高坂・北坂戸-高坂のみダイヤあり'%>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Hatoyama campus</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Takasaka Station (It takes about 8minutes)</strong>
        </h3>
        <% @result[1].each_with_index do |daiya,key_1| %>
        <ul class="summary_list">
          <li class="list_border">
            <span ><%= key_1 + 1 %></span>
            <dl class="summary_route">
              <dt class="left"><%= daiya %></dt>
            </dl>
          </li>
        </ul>
        <% end %>
        <% if @result[1].include?('21:07') %>
          <h4><span>Warning:</span>最終バス(21:07)が迫っています</h4>
        <% end %>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Hatoyama campus</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Kita_sakado station (It takes about 12minutes)</strong>
        </h3>
        <h3>北坂戸駅行きはもうありません</h3>



      <!-- 授業期間-土曜-高坂・北坂戸-両方ダイヤあり -->
      <% elsif @result[0] == '授業期間-土曜-高坂・北坂戸-両方ダイヤあり'%>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Hatoyama campus</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Takasaka Station (It takes about 8minutes)</strong>
        </h3>
        <% @result[1].each_with_index do |daiya,key_1| %>
        <ul class="summary_list">
          <li class="list_border">
            <span ><%= key_1 + 1 %></span>
            <dl class="summary_route">
              <dt class="left"><%= daiya %></dt>
            </dl>
          </li>
        </ul>
        <% end %>

          <h3 class="main_title">
            <span class = "start_index">From</span>
            <strong>Hatoyama campus</strong>
            <span>=></span>
            <span class="goal_index">To</span>
            <strong>Kita_sakado Station (It takes about 12minutes)</strong>
          </h3>
          <% if @result[2].include?('18:40') %>
            <h4><span>Warning:</span>最終バス(18:40)が迫っています</h4>
          <% end %>
          <% @result[2].each_with_index do |daiya_2,key_2| %>
          <ul class="summary_list">
            <li class="list_border">
              <span><%= key_2 + 1 %></span>
             <dl class="summary_route">
               <dt class="left"><%= daiya_2 %></dt>
             </dl>
            </li>
          </ul>
          <% end %>
      <% end %>



      <!-- 休業、平日、高坂・北坂戸の場合。確認済み。-->
      <% if @result[0] == '休業-平日-高坂・北坂戸-ダイヤなし'%>
        <p>高坂駅・北坂戸駅行きのバスはもうありません。</p>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Hatoyama campus</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Takasaka Station (It takes about 8minutes)</strong>
        </h3>
        <% daiya_list = ["11:01","11:16","11:31","13:16","13:31","15:34","15:45","17:26","17:39","19:07","19:26","19:39"].freeze %>
        <% daiya_list.each do |daiya| %>
        <ul class="summary_list">
          <% if daiya == "11:01" %>
            <span>1限後のバス</span>
          <% elsif daiya == "13:16"%>
            <span>2限後のバス</span>
          <% elsif daiya == "15:34"%>
            <span>3限後のバス</span>
          <% elsif daiya == "17:26" %>
            <span>4限後のバス</span>
          <% elsif daiya == "19:07" %>
            <span>5限後のバス</span>
          <% end %>
          <li class="list_border">
            <dl class="summary_route">
              <dt class="left"><%= daiya %></dt>
            </dl>
          </li>
        </ul>
        <% end %>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Hatoyama campus</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Kita_sakado station (It takes about 12minutes)</strong>
        </h3>
        <% daiya_list_2 = ["12:06","13:06","16:01","17:44","ない"].freeze %>
        <% daiya_list_2.each do |daiya_2| %>
        <ul class="summary_list">
          <% if daiya_2 == "12:06" %>
            <span>1限後のバス</span>
          <% elsif daiya_2 == "13:06"%>
            <span>2限後のバス</span>
          <% elsif daiya_2 == "16:01"%>
            <span>3限後のバス</span>
          <% elsif daiya_2 == "17:44" %>
            <span>4限後のバス</span>
          <% elsif daiya_2 == "ない" %>
            <span>5限後のバス</span>
          <% end %>
          <li class="list_border">
            <dl class="summary_route">
              <dt class="left"><%= daiya_2 %></dt>
            </dl>
          </li>
        </ul>
        <% end %>

      <!-- 休業-平日-高坂・北坂戸-北坂戸のみダイヤなし -->
      <% elsif @result[0] == '休業-平日-高坂・北坂戸-北坂戸のみダイヤなし'%>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Hatoyama campus</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Takasaka Station (It takes about 8minutes)</strong>
        </h3>
        <% if @result[1].include?('21:08')%>
          <h4><span>Warning:</span>最終バス(21:08)が迫っています</h4>
        <% end %>
        <% @result[1].each_with_index do |daiya,key_1| %>
        <ul class="summary_list">
          <li class="list_border">
            <span ><%= key_1 + 1 %></span>
            <dl class="summary_route">
              <dt class="left"><%= daiya %></dt>
            </dl>
          </li>
        </ul>
        <% end %>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Hatoyama campus</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Kita_sakado station (It takes about 12minutes)</strong>
        </h3>
        <h3>ダイヤがありません、高坂駅行きをご利用ください。</h3>



      <!-- 休業-平日-高坂・北坂戸-両方ダイヤあり -->
      <% elsif @result[0] == '休業-平日-高坂・北坂戸-両方ダイヤあり' %>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Hatoyama campus</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Takasaka Station (It takes about 8minutes)</strong>
        </h3>
        <% @result[1].each_with_index do |daiya,key_1| %>
        <ul class="summary_list">
          <li class="list_border">
            <span ><%= key_1 + 1 %></span>
            <dl class="summary_route">
              <dt class="left"><%= daiya %></dt>
            </dl>
          </li>
        </ul>
        <% end %>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Hatoyama campus</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Kita_sakado Station (It takes about 12minutes)</strong>
        </h3>
        <% if @result[2].include?('17:44')%>
          <h4><span>Warning:</span>最終バス(17:44)が迫っています</h4>
        <% end %>
        <% @result[2].each_with_index do |daiya_2,key_2| %>
        <ul class="summary_list">
          <li class="list_border">
            <span><%= key_2 + 1 %></span>
           <dl class="summary_route">
             <dt class="left"><%= daiya_2 %></dt>
           </dl>
          </li>
        </ul>
        <% end %>
      <% end %>

      <% if @result.kind_of?(String)%>
        <%= @result %>
      <% end %>
    <% end %>





    <!-- 授業期間中かつ平日土曜熊谷駅発 -->
    <% if @user_destination == "熊谷駅" %>
      <!-- 授業期間中の平日。熊谷発。確認済み。 -->
      <% if @result[0] == '授業期間-平日-熊谷ダイヤなし' %>
        <p>熊谷駅行きのバスはもうありません。</p>
        <p>以下は、平日の鳩山キャンパス発熊谷駅ダイヤです。</p>
        <p>授業の間にあるダイヤについては、別途調べていただけます。</p>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Hatoyama campus</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Kumagaya Station (It takes about 50minutes)</strong>
        </h3>
        <% daiya_list_2 = ["11:50","13:45","15:35","17:20","17:25","19:25"].freeze %>
        <% daiya_list_2.each do |daiya_2| %>
        <ul class="summary_list">
          <% if daiya_2 == "11:50" %>
            <span>1限後のバス</span>
          <% elsif daiya_2 == "13:45"%>
            <span>2限後のバス</span>
          <% elsif daiya_2 == "15:35"%>
            <span>3限後のバス</span>
          <% elsif daiya_2 == "17:20" %>
            <span>4限後のバス</span>
          <% elsif daiya_2 == "19:25" %>
            <span>5限後のバス</span>
          <% end %>
          <li class="list_border">
            <dl class="summary_route">
              <dt class="left"><%= daiya_2 %></dt>
            </dl>
          </li>
        </ul>
        <% end %>

      <% elsif @result[0] == '授業期間-平日-熊谷ダイヤあり'%>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Hatoyama campus</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Kumagaya Station (It takes about 50minutes)</strong>
        </h3>
        <% @result[1].each_with_index do |daiya,key_1| %>
        <ul class="summary_list">
          <li class="list_border">
            <span ><%= key_1 + 1 %></span>
            <dl class="summary_route">
              <dt class="left"><%= daiya %></dt>
            </dl>
          </li>
        </ul>
        <% end %>
        <% if @result[1].include?("21:15")%>
          <h4><span>Warning:</span>最終バス(21:15)があります。</h4>
        <% end %>





      <!-- 授業期間中、熊谷駅発、土曜 。確認済み。-->
      <% elsif @result[0] == '授業期間-土曜-熊谷ダイヤなし' %>
        <p>熊谷駅行きのバスはもうありません。</p>
        <p>以下は、土曜の鳩山キャンパス発熊谷駅行きダイヤです。</p>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Hatoyama campus</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Kumagaya Station (It takes about 50minutes.)</strong>
        </h3>
        <% daiya_list_2 = ["11:45","なし","15:30","17:20","19:10"].freeze %>
        <% daiya_list_2.each do |daiya_2| %>
        <ul class="summary_list">
          <% if daiya_2 == "11:45" %>
            <span>1限後のバス</span>
          <% elsif daiya_2 == "なし"%>
            <span>2限後のバス</span>
          <% elsif daiya_2 == "15:30"%>
            <span>3限後のバス</span>
          <% elsif daiya_2 == "17:20"%>
            <span>4限後のバス</span>
          <% elsif daiya_2 == "19:10"%>
            <span>5限後のバス</span>
          <% end %>
          <li class="list_border">
            <dl class="summary_route">
              <dt class="left"><%= daiya_2 %></dt>
            </dl>
          </li>
        </ul>
        <% end %>

      <!-- 授業期間-土曜-熊谷ダイヤあり -->
      <% elsif @result[0] == '授業期間-土曜-熊谷ダイヤあり' %>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Kumagaya Station</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Hatoyama campus (It takes about 50minutes)</strong>
        </h3>
        <% @result[1].each_with_index do |daiya,key_1| %>
        <ul class="summary_list">
          <li class="list_border">
            <span ><%= key_1 + 1 %></span>
            <dl class="summary_route">
              <dt class="left"><%= daiya %></dt>
            </dl>
          </li>
        </ul>
        <% end %>
        <% if @result[1].include?('19:10') %>
          <h4><span>Warning:</span>最終バス(19:10)があります、ご注意ください。</h4>
        <% end %>



      <!-- 休業期間、熊谷駅発、平日 -->
      <% elsif @result[0] == '休業期間-平日-熊谷ダイヤなし'%>
        <p>熊谷駅行きのバスはもうありません。</p>
        <p>以下は、土曜の鳩山キャンパス発熊谷駅行きダイヤです。</p>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Hatoyama campus</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Kumagaya Station (It takes about 50minutes.)</strong>
        </h3>
        <% daiya_list_2 = ["11:45","なし","15:30","17:20","19:10"].freeze %>
        <% daiya_list_2.each do |daiya_2| %>
        <ul class="summary_list">
          <% if daiya_2 == "11:45" %>
            <span>1限後のバス</span>
          <% elsif daiya_2 == "なし"%>
            <span>2限後のバス</span>
          <% elsif daiya_2 == "15:30"%>
            <span>3限後のバス</span>
          <% elsif daiya_2 == "17:20"%>
            <span>4限後のバス</span>
          <% elsif daiya_2 == "19:10"%>
            <span>5限後のバス</span>
          <% end %>
          <li class="list_border">
            <dl class="summary_route">
              <dt class="left"><%= daiya_2 %></dt>
            </dl>
          </li>
        </ul>
        <% end %>
      <!-- 授業期間-土曜-熊谷ダイヤあり -->
      <% elsif @result[0] == '休業期間-土曜-熊谷ダイヤあり' %>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Hatoyama campus</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Kumagaya Station (It takes about 50minutes)</strong>
        </h3>
        <% @result[1].each_with_index do |daiya,key_1| %>
        <ul class="summary_list">
          <li class="list_border">
            <span ><%= key_1 + 1 %></span>
            <dl class="summary_route">
              <dt class="left"><%= daiya %></dt>
            </dl>
          </li>
        </ul>
        <% end %>
        <% if @result[1].include?('19:10')%>
          <h4><span>Warning:</span>最終バス(19:10)があります、ご注意ください。</h4>
        <% end %>

      <% elsif @result.kind_of?(String)%>
        <%= @result %>
      <% end %>
    <% end %>
  </div>
</div>
