<div class="main">
  <div class="main_1">
    <!-- 時間表記 -->
    <h4>検索時刻:
      <% if @time_4[0].to_i < 10 && @time_4[1].to_i < 10 %>
        <strong><%= "0" + @time_4[0].to_s + ":0" + @time_4[1].to_s %></strong>
      <% elsif @time_4[0].to_i < 10 %>
        <strong><%= "0" + @time_4[0].to_s + ":" + @time_4[1].to_s %></strong>
      <% elsif @time_4[1].to_i < 10 %>
        <strong><%= @time_4[0].to_s + ":0" + @time_4[1].to_s %></strong>
      <% else %>
        <strong><%= @time_4[0] + ":" + @time_4[1] %></strong>
      <% end %>
    </h4>


    <!-- 授業期間中の平日。高坂・北坂戸発。確認済み -->
    <% if @print_user_location === "高坂駅・北坂戸駅" %>
      <!-- 授業-平日-高坂・北坂戸ダイヤあり -->
      <% if @result[0] === '授業-平日-高坂・北坂戸ダイヤあり'%>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Takasaka Station</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Hatoyama campus (It takes about 8minutes)</strong>
        </h3>
        <% @result[1].each_with_index do |daiya,key_1| %>
        <ul class="summary_list">
          <li class="list_border">
            <span ><%= key_1 + 1 %></span>
            <dl class="summary_route">
              <dt class="left"><%= daiya %></dt>
            </dl>
          </li>
        </ul>
        <% end %>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Kita_sakado station</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Hatoyama campus (It takes about 12minutes)</strong>
        </h3>
        <% if @result[2].include?('18:04') %>
          <h4><span class="warning">Warning:</span>最終バス(18:04)が迫っています</h4>
        <% end %>
        <% @result[2].each_with_index do |daiya_2,key_2| %>
        <ul class="summary_list">
          <li class="list_border">
            <span><%= key_2 + 1 %></span>
           <dl class="summary_route">
             <dt class="left"><%= daiya_2 %></dt>
           </dl>
          </li>
        </ul>
        <% end %>


      <!-- 授業期間中-平日-高坂・北坂戸-北坂戸のみダイヤなし。確認済み。 -->
      <% elsif @result[0] === '授業期間中-平日-高坂・北坂戸-北坂戸のみダイヤなし' %>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Takasaka Station</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Hatoyama campus (It takes about 8minutes)</strong>
        </h3>
        <% if @result[1].include?('19:25')%>
          <h4><span class="warning">Warning:</span>最終バス(19:25)が迫っています</h4>
        <% end %>
        <% @result[1].each_with_index do |daiya,key_1| %>
        <ul class="summary_list">
          <li class="list_border">
            <span ><%= key_1 + 1 %></span>
            <dl class="summary_route">
              <dt class="left"><%= daiya %></dt>
            </dl>
          </li>
        </ul>
        <% end %>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Kita_sakado station</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Hatoyama campus (It takes about 12minutes)</strong>
        </h3>
        <h4>北坂戸発はありません</h4>


      <!-- 授業期間中-平日-高坂・北坂戸-両方ダイヤなし。確認済み。 -->
      <% elsif @result[0] === '授業期間中-平日-高坂・北坂戸-両方ダイヤなし' %>
        <p>高坂駅・北坂戸駅発のバスはもうありません。</p>
        <p>以下はそれぞれの授業開始時刻10分前以前に到着するダイヤです</p>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Takasaka Station</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Hatoyama campus (It takes about 8minutes)</strong>
        </h3>
        <% daiya_list = ["08:55","08:58","09:01","10:52","10:53","10:56","13:15","13:20","13:25","14:59","15:05","15:13","16:51","17:00","17:05"].freeze %>
        <% daiya_list.each do |daiya| %>
        <ul class="summary_list">
          <% if daiya == "08:55" %>
            <span>1限</span>
          <% elsif daiya == "10:52"%>
            <span>2限</span>
          <% elsif daiya == "13:15"%>
            <span>3限</span>
          <% elsif daiya == "14:59" %>
            <span>4限</span>
          <% elsif daiya == "16:51" %>
            <span>5限</span>
          <% end %>
          <li class="list_border">
            <dl class="summary_route">
              <dt class="left"><%= daiya %></dt>
            </dl>
          </li>
        </ul>
        <% end %>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Kita_sakado station</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Hatoyama campus (It takes about 12minutes)</strong>
        </h3>
        <% daiya_list_2 = ["08:23","08:48","10:38","13:02","13:18","14:48","16:50","17:06"].freeze %>
        <% daiya_list_2.each do |daiya_2| %>
        <ul class="summary_list">
          <% if daiya_2 == "08:23" %>
            <span>1限</span>
          <% elsif daiya_2 == "10:38"%>
            <span>2限</span>
          <% elsif daiya_2 == "13:18"%>
            <span>3限</span>
          <% elsif daiya_2 == "14:48" %>
            <span>4限</span>
          <% elsif daiya_2 == "16:50" %>
            <span>5限</span>
          <% end %>
          <li class="list_border">
            <dl class="summary_route">
              <dt class="left"><%= daiya_2 %></dt>
            </dl>
          </li>
        </ul>
        <% end %>
      <% end %>



      <!-- 授業期間-土曜-高坂・北坂戸-両方ダイヤあり。確認済み。 -->
      <% if @result[0] == '授業期間-土曜-高坂・北坂戸-両方ダイヤあり'%>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Takasaka Station</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Hatoyama campus (It takes about 8minutes)</strong>
        </h3>
        <% @result[1].each_with_index do |daiya,key_1| %>
        <ul class="summary_list">
          <li class="list_border">
            <span ><%= key_1 + 1 %></span>
            <dl class="summary_route">
              <dt class="left"><%= daiya %></dt>
            </dl>
          </li>
        </ul>
        <% end %>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Kita_sakado station</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Hatoyama campus (It takes about 12minutes)</strong>
        </h3>
        <% if @result[2].include?('15:18')%>
          <h4><span>Warning:</span>最終バス(15:18)が迫っています</h4>
        <% end %>
        <% @result[2].each_with_index do |daiya_2,key_2| %>
        <ul class="summary_list">
          <li class="list_border">
            <span><%= key_2 + 1 %></span>
           <dl class="summary_route">
             <dt class="left"><%= daiya_2 %></dt>
           </dl>
          </li>
        </ul>
        <% end %>



        <!-- 授業期間-土曜-高坂・北坂戸-高坂のみダイヤあり。確認済み。 -->
      <% elsif @result[0] == '授業期間-土曜-高坂・北坂戸-高坂のみダイヤあり'%>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Takasaka Station</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Hatoyama campus (It takes about 8minutes)</strong>
        </h3>
        <% @result[1].each_with_index do |daiya,key_1| %>
        <ul class="summary_list">
          <li class="list_border">
            <span ><%= key_1 + 1 %></span>
            <dl class="summary_route">
              <dt class="left"><%= daiya %></dt>
            </dl>
          </li>
        </ul>
        <% end %>
        <% if @result[1].include?('18:05')%>
          <h4><span>Warning:</span>最終バス(18:05)が迫っています</h4>
        <% end %>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Kita_sakado station</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Hatoyama campus (It takes about 12minutes)</strong>
        </h3>
        <h4>北坂戸発はありません</h4>



      <!-- 授業期間-土曜-高坂・北坂戸-ダイヤなし -->
      <% elsif @result[0] === '授業期間-土曜-高坂・北坂戸-ダイヤなし' %>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Takasaka Station</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Hatoyama campus (It takes about 8minutes)</strong>
        </h3>
        <p>高坂駅・北坂戸駅発のバスはもうありません。</p>
        <p>以下はそれぞれの授業開始時刻10分前以前に到着するダイヤです</p>
        <% daiya_list = ["08:35","08:55","10:21","10:41","10:53","12:51","13:05","15:35","15:51","16:36","16:51"].freeze %>
        <% daiya_list.each do |daiya| %>
        <ul class="summary_list">
          <% if daiya == "08:35" %>
            <span>1限</span>
          <% elsif daiya == "10:21"%>
            <span>2限</span>
          <% elsif daiya == "12:51"%>
            <span>3限</span>
          <% elsif daiya == "15:35" %>
            <span>4限</span>
          <% elsif daiya == "16:36" %>
            <span>5限</span>
          <% end %>
          <li class="list_border">
            <dl class="summary_route">
              <dt class="left"><%= daiya %></dt>
            </dl>
          </li>
        </ul>
        <% end %>

        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Kita_sakado station</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Hatoyama campus (It takes about 12minutes)</strong>
        </h3>
        <% daiya_list_2 = ["08:42","10:18","13:18","14:48","15:18"].freeze %>
        <% daiya_list_2.each do |daiya_2| %>
        <ul class="summary_list">
          <% if daiya_2 == "08:42" %>
            <span>1限</span>
          <% elsif daiya_2 == "10:18"%>
            <span>2限</span>
          <% elsif daiya_2 == "13:18"%>
            <span>3限</span>
          <% elsif daiya_2 == "14:48" %>
            <span>4限</span>
          <% elsif daiya_2 == "15:18" %>
            <span>5限</span>
          <% end %>
          <li class="list_border">
            <dl class="summary_route">
              <dt class="left"><%= daiya_2 %></dt>
            </dl>
          </li>
        </ul>
        <% end %>
      <% end %>


      <!-- 休業、平日、高坂・北坂戸の場合。確認済み -->
      <% if @result[0] === '休業-平日-高坂・北坂戸-ダイヤなし'%>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Takasaka Station</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Hatoyama campus (It takes about 8minutes)</strong>
        </h3>
        <p>高坂駅・北坂戸駅発のバスはもうありません。</p>
        <p>以下はそれぞれの授業開始時刻10分前以前に到着するダイヤです</p>
        <% daiya_list = ["08:42","08:56","10:26","10:40","10:53","12:35","12:51","13:05","14:35","14:51","15:05","16:36","16:51","17:05"].freeze %>
        <% daiya_list.each do |daiya| %>
        <ul class="summary_list">
          <% if daiya == "08:42" %>
            <span>1限</span>
          <% elsif daiya == "10:26"%>
            <span>2限</span>
          <% elsif daiya == "12:35"%>
            <span>3限</span>
          <% elsif daiya == "14:35" %>
            <span>4限</span>
          <% elsif daiya == "16:36" %>
            <span>5限</span>
          <% end %>
          <li class="list_border">
            <dl class="summary_route">
              <dt class="left"><%= daiya %></dt>
            </dl>
          </li>
        </ul>
        <% end %>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Kita_sakado station</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Hatoyama campus (It takes about 12minutes)</strong>
        </h3>
        <% daiya_list_2 = ["08:48","10:37","13:18","14:18","15:18","ない"].freeze %>
        <% daiya_list_2.each do |daiya_2| %>
        <ul class="summary_list">
          <% if daiya_2 == "08:48" %>
            <span>1限</span>
          <% elsif daiya_2 == "10:37"%>
            <span>2限</span>
          <% elsif daiya_2 == "13:18"%>
            <span>3限</span>
          <% elsif daiya_2 == "14:18" %>
            <span>4限</span>
          <% elsif daiya_2 == "ない" %>
            <span>5限</span>
          <% end %>
          <li class="list_border">
            <dl class="summary_route">
              <dt class="left"><%= daiya_2 %></dt>
            </dl>
          </li>
        </ul>
        <% end %>



      <!-- 休業-平日-高坂・北坂戸-北坂戸のみダイヤなし -->
      <% elsif @result[0] === '休業-平日-高坂・北坂戸-北坂戸のみダイヤなし' %>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Takasaka Station</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Hatoyama campus (It takes about 8minutes)</strong>
        </h3>
        <% @result[1].each_with_index do |daiya,key_1| %>
        <ul class="summary_list">
          <li class="list_border">
            <span ><%= key_1 + 1 %></span>
            <dl class="summary_route">
              <dt class="left"><%= daiya %></dt>
            </dl>
          </li>
        </ul>
        <% end %>
        <% if @result[1].include?('18:40')%>
          <h4><span>Warning:</span>最終バス(18:40)が迫っています</h4>
        <% end %>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Kita_sakado station</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Hatoyama campus (It takes about 12minutes)</strong>
        </h3>
        <h3>北坂戸発はもうありません</h3>



      <!-- 休業-平日-高坂・北坂戸-両方ダイヤあり -->
      <% elsif @result[0] === '休業-平日-高坂・北坂戸-両方ダイヤあり'  %>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Takasaka Station</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Hatoyama campus (It takes about 8minutes)</strong>
        </h3>
        <% @result[1].each_with_index do |daiya,key_1| %>
        <ul class="summary_list">
          <li class="list_border">
            <span ><%= key_1 + 1 %></span>
            <dl class="summary_route">
              <dt class="left"><%= daiya %></dt>
            </dl>
          </li>
        </ul>
        <% end %>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Kita_sakado station</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Hatoyama campus (It takes about 12minutes)</strong>
        </h3>
        <% @result[2].each_with_index do |daiya_2,key_2| %>
        <ul class="summary_list">
          <li class="list_border">
            <span><%= key_2 + 1 %></span>
           <dl class="summary_route">
             <dt class="left"><%= daiya_2 %></dt>
           </dl>
          </li>
        </ul>
        <% end %>
        <% if @result[2].include?('16:13')%>
          <h4><span>Warning:</span>最終バス(16:13)が迫っています</h4>
        <% end %>

      <!-- 休業期間中の土曜日が選択された場合の処理 -->
      <% elsif @result.kind_of?(String) %>
        <%= @result %>
      <% end %>
    <% end %>



    <!-- 授業期間中かつ平日土曜熊谷駅発 -->
    <% if @print_user_location === "熊谷駅" %>
      <!-- 授業期間中の平日。熊谷発。確認済み。 -->
      <% if @result[0] === '授業期間-平日-熊谷ダイヤなし' %>
        <p>熊谷駅発のバスはもうありません。</p>
        <p>以下は、平日の熊谷駅発ダイヤです</p>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Kumagaya station</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Hatoyama campus (It takes about 50minutes.)</strong>
        </h3>
        <% daiya_list_2 = ["08:05","08:15","08:20","10:00","10:05","10:10","12:30","12:40","14:30","16:20"].freeze %>
        <% daiya_list_2.each do |daiya_2| %>
        <ul class="summary_list">
          <% if daiya_2 == "08:05" %>
            <span>1限</span>
          <% elsif daiya_2 == "10:00"%>
            <span>2限</span>
          <% elsif daiya_2 == "12:30"%>
            <span>3限</span>
          <% elsif daiya_2 == "14:30" %>
            <span>4限</span>
          <% elsif daiya_2 == "16:20" %>
            <span>5限</span>
          <% end %>
          <li class="list_border">
            <dl class="summary_route">
              <dt class="left"><%= daiya_2 %></dt>
            </dl>
          </li>
        </ul>
        <% end %>

      <% elsif @result[0] === '授業期間-平日-熊谷ダイヤあり'%>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Kumagaya Station</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Hatoyama campus (It takes about 50minutes)</strong>
        </h3>
        <% @result[1].each_with_index do |daiya,key_1| %>
        <ul class="summary_list">
          <li class="list_border">
            <span ><%= key_1 + 1 %></span>
            <dl class="summary_route">
              <dt class="left"><%= daiya %></dt>
            </dl>
          </li>
        </ul>
        <% end %>
        <% if @result[1].include?("16:20")%>
          <h4><span>Warning:</span>最終バス(16:20)があります、ご注意ください。</h4>
        <% end %>
      <% end %>


      <!-- 授業期間中、熊谷駅発、土曜。確認済み-->
      <% if @result[0] === '授業期間-土曜-熊谷ダイヤなし' %>
        <p>熊谷駅発のバスはもうありません。</p>
        <p>以下は、土曜の熊谷駅発ダイヤです。</p>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Kumagaya station</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Hatoyama campus (It takes about 50minutes.)</strong>
        </h3>
        <% daiya_list_2 = ["08:20","10:00","12:30"].freeze %>
        <% daiya_list_2.each do |daiya_2| %>
        <ul class="summary_list">
          <% if daiya_2 == "08:20" %>
            <span>1限</span>
          <% elsif daiya_2 == "10:00"%>
            <span>2限</span>
          <% elsif daiya_2 == "12:30"%>
            <span>3限</span>
          <% end %>
          <li class="list_border">
            <dl class="summary_route">
              <dt class="left"><%= daiya_2 %></dt>
            </dl>
          </li>
        </ul>
        <% end %>


      <!-- 授業期間中、熊谷駅発、土曜、ダイヤあり。確認済み、 -->
      <% elsif @result[0] === '授業期間-土曜-熊谷ダイヤあり' %>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Kumagaya Station</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Hatoyama campus (It takes about 50minutes)</strong>
        </h3>
        <% @result[1].each_with_index do |daiya,key_1| %>
        <ul class="summary_list">
          <li class="list_border">
            <span ><%= key_1 + 1 %></span>
            <dl class="summary_route">
              <dt class="left"><%= daiya %></dt>
            </dl>
          </li>
        </ul>
        <% end %>
        <% if @result[1].include?('12:30') %>
          <h4><span>Warning:</span>最終バス(12:30)があります、ご注意ください。午後は課金バスに乗りましょう。</h4>
        <% end %>
      <% end %>


      <!-- 休業期間、熊谷駅発、平日。確認済み。 -->
      <% if @result[0] === '休業期間-平日-熊谷ダイヤなし'%>
      <p>熊谷駅発のバスはもうありません。</p>
      <p>以下は、土曜の熊谷駅発ダイヤです。</p>
      <h3 class="main_title">
        <span class = "start_index">From</span>
        <strong>Kumagaya station</strong>
        <span>=></span>
        <span class="goal_index">To</span>
        <strong>Hatoyama campus (It takes about 50minutes.)</strong>
      </h3>
      <% daiya_list_2 = ["08:20","10:00","12:30"].freeze %>
      <% daiya_list_2.each do |daiya_2| %>
      <ul class="summary_list">
        <% if daiya_2 == "08:20" %>
          <span>1限</span>
        <% elsif daiya_2 == "10:00"%>
          <span>2限</span>
        <% elsif daiya_2 == "12:30"%>
          <span>3限</span>
        <% end %>
        <li class="list_border">
          <dl class="summary_route">
            <dt class="left"><%= daiya_2 %></dt>
          </dl>
        </li>
      </ul>
      <% end %>


      <!-- 休業期間-平日-熊谷ダイヤ -->
      <% elsif @result[0] === '休業期間-平日-熊谷ダイヤ' %>
        <h3 class="main_title">
          <span class = "start_index">From</span>
          <strong>Kumagaya Station</strong>
          <span>=></span>
          <span class="goal_index">To</span>
          <strong>Hatoyama campus (It takes about 50minutes)</strong>
        </h3>
        <% @result[1].each_with_index do |daiya,key_1| %>
        <ul class="summary_list">
          <li class="list_border">
            <span ><%= key_1 + 1 %></span>
            <dl class="summary_route">
              <dt class="left"><%= daiya %></dt>
            </dl>
          </li>
        </ul>
        <% end %>
        <% if @result[1].include?('12:30') %>
          <h4><span>Warning:</span>最終バス(12:30)があります、ご注意ください。午後は課金バスに乗りましょう。</h4>
        <% end %>


      <!-- 休業期間中の土曜日が選択された場合の処理 -->
      <% elsif @result.kind_of?(String) %>
        <%= @result %>
      <% end %>
    <% end %>
  </div>
</div>
