<div class="main">
  <div class="main_1">
    <!-- 時間表記 -->
    <h4>現在時刻は</h4>
    <% if @time_4[0].to_i < 10 %>
      <h4><%= "0" + @time_4[0].to_s + ":" + @time_4[1].to_s %></h4>
    <% elsif @time_4[1].to_i < 10 %>
      <h4><%= @time_4[0].to_s + ":" + "0" + @time_4[1].to_s %></h4>
    <% else %>
      <h4><%= @time_4[0] + ":" + @time_4[1] %></h4>
    <% end %>

    <!-- どこ発か? -->
    <p><%= @print_user_location %>発大学行き</p>


    <!-- リストの中身によって処理を変更する -->
    <% if @print_user_location == "高坂駅・北坂戸駅" %>

      <!-- 両方のダイヤがあって、その時に、北坂戸発に終バスが入ってしまった時の処理 -->
      <% if @result[0].kind_of?(Array) && @result[1].include?("18:04")%>
        <h3>高坂駅 => 大学</h3>
        <%= @result[0] %>
        <h3>北坂戸駅 => 大学</h3>
        <h4><span>Warning:</span>最終バス(18:04)が迫っています</h4>
        <%= @result[1] %>

      <!-- 高坂ダイヤのみあって、その時に、高坂発に終バスが入ってしまった時の処理 -->
      <% elsif @result[0].kind_of?(String) && @result[0].include?("19:25") %>
        <h3>高坂駅 => 大学</h3>
        <h4><span>Warning:</span>最終バス(19:25)が迫っています</h4>
        <%= @result[0] %>
        <h3>北坂戸駅 => 大学</h3>
        <%= @result[1] %>


      <!-- 高坂ダイヤ、北坂戸ダイヤがそもそももう存在しない時の処理 -->
      <% elsif @result.length == 3 %>
        <h3>高坂駅・北坂戸駅 => 大学</h3>
        <h3><%= @result[0] %></h3>
        <h3>高坂ダイヤ</h3>
        <%= @result[1] %>
        <h3>北坂戸ダイヤ</h3>
        <%= @result[2] %>


      <!--　終バスを含まず、かつ、リストが両方とも入っている時の処理、  -->
      <% else %>
        <h3>高坂駅 => 大学</h3>
        <%= @result[0] %>
        <h3>北坂戸駅 = >大学</h3>
        <%= @result[1] %>
      <% end %>


    <% elsif @print_user_location == "熊谷駅"%>
      <h3>熊谷駅 => 大学</h3>
      <%= @result[0] %>
      <p>１限に間に合うバス<%= @result[1][0..2]%></p>
      <p>２限に間に合うバス<%= @result[1][3..5]%></p>
      <p>３限に間に合うバス<%= @result[1][6..7]%></p>
      <p>４限に間に合うバス<%= @result[1][8]%></p>
      <p>５限に間に合うバス<%= @result[1][9]%></p>
    <% end %>
  </div>
</div>
